<h1>Welcome to Hack.</h1>
<p>The new proving ground for MSU computer science students.</p>


<h3>Here's how it works</h3>
<ul>
  <li><strong>Submit</strong> problems</li>
  <li><strong>Enter</strong> Hackathons to compete against fellow students</li>
  <li><strong>Win</strong> bragging rights (and other awesome prizes)</li>
</ul>

<h3>Ready to get started?</h3>
<% if user_signed_in? %>
  <p><%= link_to "Create a problem", new_problem_path %>
<% else %>
  <p><%= link_to "Click here to sign up!", new_user_registration_path %></p>
<% end %>
