<div id="user-session-links">
  <% if user_signed_in? %>
    <%= "Hello, #{current_user.email}!" %><br/>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> or
    <%= link_to "Sign up!", new_user_registration_path %>
  <% end %>
</div> <!--/user-session-links-->
