<!DOCTYPE html>
<html lang="en">
  <%= render 'application/head' %>
  <body>

    <%= render 'application/nav_bar' %>

    <div class="container">

      <div class="row">
        <div class="span9">
          <%= bootstrap_flash %>
        </div>

        <div class="span3">
          <%= render 'application/session_links' %>
        </div> <!--/span-->
      </div> <!--/row-->

      <div class="row">
        <div class="span12">
            <%= yield %>
        </div> <!--/span-->
      </div><!--/row-->

      <%= render 'application/footer' %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
